<div class="d-flex justify-content-center flex-column">
  <% if @produto.errors.any? %>
    <div class="container">
      <div class="alert alert-danger alert-dismissible fade show text-start" role="alert">
        Os Seguintes erros impediram a criação:
        <ul>
          <% @produto.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  <% end %>
  <div class="container w-25">
    <%= form_for @produto do |form| %>
      <h2 class="text-secondary text-center">Criar Produto</h2>
      <hr>
      <div class="form-group">
        <%= form.label :nome, class: "form-label mx-o" %><br />
        <%= form.text_field :nome, class: "form-control" %><br />
      </div>
      <div class="form-group">
        <%= form.label :cor, class: "form-label mx-0" %><br />
        <%= form.text_field :cor, class: "form-control " %><br />
      </div>
      <div class="form-group">
        <%= form.label :preco, "Preço", class: "form-label mx-0" %><br />
        <%= form.number_field :preco , step: 0.01, class: "form-control"%><br />
      </div>
      <div class="form-group">
        <%= form.label :quantidade, class: "form-label mx-0" %><br />
        <%= form.number_field :quantidade, class: "form-control" %><br />
      </div>
      <%= form.submit "Criar Produto", class: "mt-1 btn btn-primary" %>
    <% end %>
  </div>
</div>
